<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ slogan }}</title>
  <link rel="stylesheet" href="/public/css/bootstrap-xs-e3fc08d519.css" />
  <style>
    .Slogan {
      margin-top: 30%;
    }
  </style>
</head>
<body>
  <div class="container Slogan">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-center">{{ slogan }}</h4>
      </div>
    </div>
  </div>

  <script src="/public/js/zepto-c5ee9648ae.js"></script>
</body>
</html>